In [1]:
#LIBRARIES NEEDED
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Sajitha Sharon\Downloads\examdatabase.csv")# READIND DATA
data.shape

(3352, 13)

In [3]:
data.head()#TOP 5 ROWS

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9598673,9/13/1989,F,X,WGL,KARN,OBC,NaN,NaN,NaN,NaN,NaN,NaN
1,9657127,6/14/1989,M,GRAD,WGL,KARN,ST,NaN,NaN,NaN,NaN,NaN,NaN
2,9657164,10/13/1989,F,X,WGL,KARN,GEN,NaN,NaN,NaN,NaN,NaN,NaN
3,9657217,8/22/1985,M,GRAD,WGL,KARN,OBC,NaN,NaN,NaN,NaN,NaN,NaN
4,9657229,9/20/1991,M,X,WGL,KARN,GEN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#PRINTING UNIQUE VALUE COUNTS IN EACH COLUMN
for i in data.columns:
    print(data[i].value_counts())

9598673     1
9986747     1
10087354    1
10087436    1
10087450    1
           ..
9815352     1
9815356     1
9815434     1
9815474     1
10107840    1
Name: Application_ID, Length: 3352, dtype: int64
01-01-2003    35
01-01-2001    32
01-01-2004    31
01-01-1999    27
01-01-2000    24
              ..
7/26/1987      1
08-03-1999     1
08-03-2001     1
4/23/2004      1
8/21/1986      1
Name: D_O_B, Length: 2154, dtype: int64
M    1798
F    1554
Name: SEX, dtype: int64
X       1231
XII      875
GRAD     703
UX       361
PD        74
OTH       65
XITI      43
Name: H_Qual, dtype: int64
WGL     299
MAHB    289
KUN     249
GUN     198
KARN    196
KRS     171
CTT     169
VIZ     150
PRA     145
NALG    130
MED     128
ADI     123
KPM     119
ANA     107
TRI     107
KHAM     85
NEL      85
SOA      84
VIZI     84
EGOD     84
SIR      80
NIZA     73
PUD      70
KRK      69
WGOD     56
VIJ       1
PNI       1
Name: TH_CENT_CH, dtype: int64
VIJ      373
ANA      308
URHYD    293
KARN     271
VIZI     200
NIZA     189
RANG     158
KUN      147
WGL      132
VLR      120
PNI      110
VIZ      110
CTT      109
NALG      89
PRA       86
NEL       85
PBL       84
GUN       84
WGOD      84
MAHB      74
PUD       69
PRT       64
EGOD      52
KHAM      42
MED       10
KRS        5
ADI        1
TNJ        1
KRK        1
TRI        1
Name: SEC_TH_CEN, dtype: int64
OBC    1764
GEN     899
SC      461
ST      228
Name: CATEGORY, dtype: int64
Series([], Name: Rollno, dtype: int64)
SIR    75
Name: cent_allot, dtype: int64
Nexgen Computer Education, Arts College Road, Near RTC Complex, SRIKAKULAM - 532 001    75
Name: cent_add, dtype: int64
29-09-2020    38
30-09-2020    37
Name: examDate, dtype: int64
3.0    20
4.0    20
1.0    18
2.0    17
Name: batch, dtype: int64
2:00PM     20
4:30PM     20
8:30AM     18
11:00AM    17
Name: rep_time, dtype: int64

**Stage One: Finalization of Candidate count**

In [5]:
#STUDENTS PER DISTRICT
df=data.groupby("TH_CENT_CH").size().reset_index(name="Candidates_per_CENTre")
print(df)

   TH_CENT_CH  Candidates_per_CENTre
0         ADI                    123
1         ANA                    107
2         CTT                    169
3        EGOD                     84
4         GUN                    198
5        KARN                    196
6        KHAM                     85
7         KPM                    119
8         KRK                     69
9         KRS                    171
10        KUN                    249
11       MAHB                    289
12        MED                    128
13       NALG                    130
14        NEL                     85
15       NIZA                     73
16        PNI                      1
17        PRA                    145
18        PUD                     70
19        SIR                     80
20        SOA                     84
21        TRI                    107
22        VIJ                      1
23        VIZ                    150
24       VIZI                     84
25        WGL                    299
26       WGOD                     56

In [6]:
#ASSIGNING cent_allot FOR STUDENTS
df1=df[df["Candidates_per_CENTre"]>=100]
HP_cols=list(df1["TH_CENT_CH"])
print(HP_cols)
df2=df[df["Candidates_per_CENTre"]<100]
LP_cols=list(df2["TH_CENT_CH"])
print(LP_cols)
for x in data.index:
    if data.loc[x,"TH_CENT_CH"] in HP_cols:
        data.loc[x,"cent_allot"]=data.loc[x,"TH_CENT_CH"]
    elif data.loc[x,"TH_CENT_CH"] in LP_cols:
        data.loc[x,"cent_allot"]=data.loc[x,"SEC_TH_CEN"]

['ADI', 'ANA', 'CTT', 'GUN', 'KARN', 'KPM', 'KRS', 'KUN', 'MAHB', 'MED', 'NALG', 'PRA', 'TRI', 'VIZ', 'WGL']
['EGOD', 'KHAM', 'KRK', 'NEL', 'NIZA', 'PNI', 'PUD', 'SIR', 'SOA', 'VIJ', 'VIZI', 'WGOD']

In [7]:
data.head()

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9598673,9/13/1989,F,X,WGL,KARN,OBC,NaN,WGL,NaN,NaN,NaN,NaN
1,9657127,6/14/1989,M,GRAD,WGL,KARN,ST,NaN,WGL,NaN,NaN,NaN,NaN
2,9657164,10/13/1989,F,X,WGL,KARN,GEN,NaN,WGL,NaN,NaN,NaN,NaN
3,9657217,8/22/1985,M,GRAD,WGL,KARN,OBC,NaN,WGL,NaN,NaN,NaN,NaN
4,9657229,9/20/1991,M,X,WGL,KARN,GEN,NaN,WGL,NaN,NaN,NaN,NaN

In [8]:
#STUDENTS PER CENTRE
new_df=data.groupby("cent_allot").size().reset_index(name="Candidates_per_CENTre")
print(new_df)

   cent_allot  Candidates_per_CENTre
0         ADI                    123
1         ANA                    107
2         CTT                    254
3        EGOD                     52
4         GUN                    198
5        KARN                    269
6         KPM                    119
7         KRK                      1
8         KRS                    176
9         KUN                    249
10       MAHB                    289
11        MED                    128
12       NALG                    130
13        PBL                     84
14        PNI                      4
15        PRA                    145
16        PRT                     64
17        PUD                     69
18        TRI                    108
19        VIZ                    260
20       VIZI                     54
21        VLR                      1
22        WGL                    384
23       WGOD                     84

 ***Stage Two: Preparation of Database***

In [9]:
data.sort_values("cent_allot",inplace=True)#SORTING W.R.T CENTRE ALLOTMENT
data.reset_index(drop=True,inplace=True)#INDEXING TO GET PROPER INDEX AGAIN
data.head()

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9816073,4/20/2003,F,X,ADI,URHYD,OBC,NaN,ADI,NaN,NaN,NaN,NaN
1,9834311,3/26/1993,M,GRAD,ADI,NIZA,OBC,NaN,ADI,NaN,NaN,NaN,NaN
2,9838356,10/14/1999,M,XII,ADI,NIZA,GEN,NaN,ADI,NaN,NaN,NaN,NaN
3,9834312,8/26/1993,M,GRAD,ADI,NIZA,GEN,NaN,ADI,NaN,NaN,NaN,NaN
4,9834313,02-12-1983,M,GRAD,ADI,NIZA,OBC,NaN,ADI,NaN,NaN,NaN,NaN

In [10]:
#FILLING Rollno COLUMN 
start=1
for x in data.index:
    data.loc[x,"Rollno"]="NL200000"+str(start)
    start+=1
#FILLING cent_add COLUMN
data["cent_add"]= "NIELIT "+ data["cent_allot"]

In [11]:
data.head(20)#FIRST 20 ROWS

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9816073,4/20/2003,F,X,ADI,URHYD,OBC,NL2000001,ADI,NIELIT ADI,NaN,NaN,NaN
1,9834311,3/26/1993,M,GRAD,ADI,NIZA,OBC,NL2000002,ADI,NIELIT ADI,NaN,NaN,NaN
2,9838356,10/14/1999,M,XII,ADI,NIZA,GEN,NL2000003,ADI,NIELIT ADI,NaN,NaN,NaN
3,9834312,8/26/1993,M,GRAD,ADI,NIZA,GEN,NL2000004,ADI,NIELIT ADI,NaN,NaN,NaN
4,9834313,02-12-1983,M,GRAD,ADI,NIZA,OBC,NL2000005,ADI,NIELIT ADI,NaN,NaN,NaN
5,9834314,07-06-1999,M,XII,ADI,NIZA,OBC,NL2000006,ADI,NIELIT ADI,NaN,NaN,NaN
6,9816118,4/20/2002,F,X,ADI,URHYD,OBC,NL2000007,ADI,NIELIT ADI,NaN,NaN,NaN
7,9838295,3/31/2003,F,XII,ADI,NIZA,OBC,NL2000008,ADI,NIELIT ADI,NaN,NaN,NaN
8,9838363,03-04-1986,M,GRAD,ADI,NIZA,OBC,NL2000009,ADI,NIELIT ADI,NaN,NaN,NaN
9,9812568,1/21/2004,M,X,ADI,NIZA,ST,NL20000010,ADI,NIELIT ADI,NaN,NaN,NaN
10,9816112,04-11-2000,F,X,ADI,URHYD,GEN,NL20000011,ADI,NIELIT ADI,NaN,NaN,NaN
11,9838271,01-01-1999,M,XII,ADI,NIZA,OBC,NL20000012,ADI,NIELIT ADI,NaN,NaN,NaN
12,9838263,6/18/2000,M,XII,ADI,NIZA,OBC,NL20000013,ADI,NIELIT ADI,NaN,NaN,NaN
13,9838249,07-05-1993,M,GRAD,ADI,NIZA,SC,NL20000014,ADI,NIELIT ADI,NaN,NaN,NaN
14,9838242,02-08-1996,M,XII,ADI,NIZA,OBC,NL20000015,ADI,NIELIT ADI,NaN,NaN,NaN
15,9838209,3/26/2002,M,X,ADI,NIZA,OBC,NL20000016,ADI,NIELIT ADI,NaN,NaN,NaN
16,9832523,7/13/1994,F,GRAD,ADI,NIZA,OBC,NL20000017,ADI,NIELIT ADI,NaN,NaN,NaN
17,9838288,12/25/2003,M,X,ADI,NIZA,OBC,NL20000018,ADI,NIELIT ADI,NaN,NaN,NaN
18,9832505,8/17/1995,M,GRAD,ADI,NIZA,OBC,NL20000019,ADI,NIELIT ADI,NaN,NaN,NaN
19,9838374,10/28/2003,F,XII,ADI,NIZA,OBC,NL20000020,ADI,NIELIT ADI,NaN,NaN,NaN

In [12]:
data.tail(20)#LAST 20 ROWS

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
3332,9763910,09-11-1988,M,UX,EGOD,WGOD,OBC,NL2000003333,WGOD,NIELIT WGOD,NaN,NaN,NaN
3333,9739704,06-10-1995,F,UX,EGOD,WGOD,GEN,NL2000003334,WGOD,NIELIT WGOD,NaN,NaN,NaN
3334,9739767,4/16/1998,F,GRAD,EGOD,WGOD,GEN,NL2000003335,WGOD,NIELIT WGOD,NaN,NaN,NaN
3335,9739835,1/18/2000,M,XII,EGOD,WGOD,GEN,NL2000003336,WGOD,NIELIT WGOD,NaN,NaN,NaN
3336,9739881,2/20/2000,F,XII,EGOD,WGOD,OBC,NL2000003337,WGOD,NIELIT WGOD,NaN,NaN,NaN
3337,9764028,01-01-1983,M,X,EGOD,WGOD,GEN,NL2000003338,WGOD,NIELIT WGOD,NaN,NaN,NaN
3338,9739984,8/23/2001,F,XII,EGOD,WGOD,GEN,NL2000003339,WGOD,NIELIT WGOD,NaN,NaN,NaN
3339,9740692,01-01-1991,M,UX,EGOD,WGOD,GEN,NL2000003340,WGOD,NIELIT WGOD,NaN,NaN,NaN
3340,9740807,06-05-1994,F,GRAD,EGOD,WGOD,OBC,NL2000003341,WGOD,NIELIT WGOD,NaN,NaN,NaN
3341,9740982,06-04-2001,M,XII,EGOD,WGOD,OBC,NL2000003342,WGOD,NIELIT WGOD,NaN,NaN,NaN
3342,9741072,06-07-1995,F,GRAD,EGOD,WGOD,OBC,NL2000003343,WGOD,NIELIT WGOD,NaN,NaN,NaN
3343,9741167,01-01-1998,F,XII,EGOD,WGOD,OBC,NL2000003344,WGOD,NIELIT WGOD,NaN,NaN,NaN
3344,9741322,01-01-1986,F,GRAD,EGOD,WGOD,OBC,NL2000003345,WGOD,NIELIT WGOD,NaN,NaN,NaN
3345,9741467,1/16/1999,F,GRAD,EGOD,WGOD,OBC,NL2000003346,WGOD,NIELIT WGOD,NaN,NaN,NaN
3346,9741578,01-01-1988,F,UX,EGOD,WGOD,OBC,NL2000003347,WGOD,NIELIT WGOD,NaN,NaN,NaN
3347,9741716,4/17/1999,F,GRAD,EGOD,WGOD,GEN,NL2000003348,WGOD,NIELIT WGOD,NaN,NaN,NaN
3348,9764148,01-01-1998,F,X,EGOD,WGOD,GEN,NL2000003349,WGOD,NIELIT WGOD,NaN,NaN,NaN
3349,9764143,1/28/1989,F,GRAD,EGOD,WGOD,GEN,NL2000003350,WGOD,NIELIT WGOD,NaN,NaN,NaN
3350,9740071,6/15/1991,F,XII,EGOD,WGOD,GEN,NL2000003351,WGOD,NIELIT WGOD,NaN,NaN,NaN
3351,9739614,07-08-1993,F,XII,EGOD,WGOD,GEN,NL2000003352,WGOD,NIELIT WGOD,NaN,NaN,NaN

In [13]:
#REPLACING WRONGLY FILLED VALUES WITH NULL VALUES
data["examDate"].fillna(np.nan,inplace=True)
data["batch"].fillna(np.nan,inplace=True)
data["rep_time"].fillna(np.nan,inplace=True)

In [14]:
data.head()

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9816073,4/20/2003,F,X,ADI,URHYD,OBC,NL2000001,ADI,NIELIT ADI,NaN,NaN,NaN
1,9834311,3/26/1993,M,GRAD,ADI,NIZA,OBC,NL2000002,ADI,NIELIT ADI,NaN,NaN,NaN
2,9838356,10/14/1999,M,XII,ADI,NIZA,GEN,NL2000003,ADI,NIELIT ADI,NaN,NaN,NaN
3,9834312,8/26/1993,M,GRAD,ADI,NIZA,GEN,NL2000004,ADI,NIELIT ADI,NaN,NaN,NaN
4,9834313,02-12-1983,M,GRAD,ADI,NIZA,OBC,NL2000005,ADI,NIELIT ADI,NaN,NaN,NaN

In [15]:
#FILLING batch COLUMN
count_of_students=np.array(new_df["Candidates_per_CENTre"])
print(count_of_students)
count_of_students=np.cumsum(count_of_students)
print(count_of_students)
start=0
count=0
for x in count_of_students:
    for i in range(start,x):
        if count<20:
            data.loc[i,"batch"]="1"
            count+=1
        elif count>=20 and count<40 :
            data.loc[i,"batch"]="2"
            count+=1
        elif count==40:
            data.loc[i,"batch"]="1"
            count=0
    start=x
    count=0

[123 107 254  52 198 269 119   1 176 249 289 128 130  84   4 145  64  69
 108 260  54   1 384  84]
[ 123  230  484  536  734 1003 1122 1123 1299 1548 1837 1965 2095 2179
 2183 2328 2392 2461 2569 2829 2883 2884 3268 3352]

In [16]:
#FILLING rep_time COLUMN
for x in data.index:
    if data.loc[x,"batch"]=="1":
        data.loc[x,"rep_time"]="9 AM"
    if data.loc[x,"batch"]=="2":
        data.loc[x,"rep_time"]="2 PM"

In [17]:
#FILLING examDate COLUMN
start=0
count=0
start_date=1
for x in count_of_students:
    for i in range(start,x):
        if count<40:
            data.loc[i,"examDate"]=str(start_date)+"/12/2020"
            count+=1
        #elif count>=20 and count<40 :
            #data.loc[i,"batch"]="2"
            #count+=1
        elif count==40:
            data.loc[i,"examDate"]=str(start_date+1)+"/12/2020"
            count=0
            start_date+=1
    start=x
    count=0
    start_date=1

In [18]:
data.head()

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9816073,4/20/2003,F,X,ADI,URHYD,OBC,NL2000001,ADI,NIELIT ADI,1/12/2020,1,9 AM
1,9834311,3/26/1993,M,GRAD,ADI,NIZA,OBC,NL2000002,ADI,NIELIT ADI,1/12/2020,1,9 AM
2,9838356,10/14/1999,M,XII,ADI,NIZA,GEN,NL2000003,ADI,NIELIT ADI,1/12/2020,1,9 AM
3,9834312,8/26/1993,M,GRAD,ADI,NIZA,GEN,NL2000004,ADI,NIELIT ADI,1/12/2020,1,9 AM
4,9834313,02-12-1983,M,GRAD,ADI,NIZA,OBC,NL2000005,ADI,NIELIT ADI,1/12/2020,1,9 AM

In [19]:
data.examDate.dtype

dtype('O')

In [20]:
#CHANGING TO DATATIME FORMAT
data["examDate"]=pd.to_datetime(data["examDate"]).dt.strftime('%d-%m-%Y')
data["examDate"]=pd.to_datetime(data["examDate"]).dt.strftime('%d-%m-%Y')

In [21]:
data.head(50)

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
0,9816073,4/20/2003,F,X,ADI,URHYD,OBC,NL2000001,ADI,NIELIT ADI,01-12-2020,1,9 AM
1,9834311,3/26/1993,M,GRAD,ADI,NIZA,OBC,NL2000002,ADI,NIELIT ADI,01-12-2020,1,9 AM
2,9838356,10/14/1999,M,XII,ADI,NIZA,GEN,NL2000003,ADI,NIELIT ADI,01-12-2020,1,9 AM
3,9834312,8/26/1993,M,GRAD,ADI,NIZA,GEN,NL2000004,ADI,NIELIT ADI,01-12-2020,1,9 AM
4,9834313,02-12-1983,M,GRAD,ADI,NIZA,OBC,NL2000005,ADI,NIELIT ADI,01-12-2020,1,9 AM
5,9834314,07-06-1999,M,XII,ADI,NIZA,OBC,NL2000006,ADI,NIELIT ADI,01-12-2020,1,9 AM
6,9816118,4/20/2002,F,X,ADI,URHYD,OBC,NL2000007,ADI,NIELIT ADI,01-12-2020,1,9 AM
7,9838295,3/31/2003,F,XII,ADI,NIZA,OBC,NL2000008,ADI,NIELIT ADI,01-12-2020,1,9 AM
8,9838363,03-04-1986,M,GRAD,ADI,NIZA,OBC,NL2000009,ADI,NIELIT ADI,01-12-2020,1,9 AM
9,9812568,1/21/2004,M,X,ADI,NIZA,ST,NL20000010,ADI,NIELIT ADI,01-12-2020,1,9 AM
10,9816112,04-11-2000,F,X,ADI,URHYD,GEN,NL20000011,ADI,NIELIT ADI,01-12-2020,1,9 AM
11,9838271,01-01-1999,M,XII,ADI,NIZA,OBC,NL20000012,ADI,NIELIT ADI,01-12-2020,1,9 AM
12,9838263,6/18/2000,M,XII,ADI,NIZA,OBC,NL20000013,ADI,NIELIT ADI,01-12-2020,1,9 AM
13,9838249,07-05-1993,M,GRAD,ADI,NIZA,SC,NL20000014,ADI,NIELIT ADI,01-12-2020,1,9 AM
14,9838242,02-08-1996,M,XII,ADI,NIZA,OBC,NL20000015,ADI,NIELIT ADI,01-12-2020,1,9 AM
15,9838209,3/26/2002,M,X,ADI,NIZA,OBC,NL20000016,ADI,NIELIT ADI,01-12-2020,1,9 AM
16,9832523,7/13/1994,F,GRAD,ADI,NIZA,OBC,NL20000017,ADI,NIELIT ADI,01-12-2020,1,9 AM
17,9838288,12/25/2003,M,X,ADI,NIZA,OBC,NL20000018,ADI,NIELIT ADI,01-12-2020,1,9 AM
18,9832505,8/17/1995,M,GRAD,ADI,NIZA,OBC,NL20000019,ADI,NIELIT ADI,01-12-2020,1,9 AM
19,9838374,10/28/2003,F,XII,ADI,NIZA,OBC,NL20000020,ADI,NIELIT ADI,01-12-2020,1,9 AM
20,9834307,7/16/1993,M,XII,ADI,NIZA,OBC,NL20000021,ADI,NIELIT ADI,01-12-2020,2,2 PM
21,9811253,08-06-2001,M,XII,ADI,NIZA,ST,NL20000022,ADI,NIELIT ADI,01-12-2020,2,2 PM
22,9811257,3/16/1987,M,GRAD,ADI,NIZA,OBC,NL20000023,ADI,NIELIT ADI,01-12-2020,2,2 PM
23,9834324,7/31/2001,F,XII,ADI,NIZA,OBC,NL20000024,ADI,NIELIT ADI,01-12-2020,2,2 PM
24,9831860,03-05-1988,M,XII,ADI,URHYD,SC,NL20000025,ADI,NIELIT ADI,01-12-2020,2,2 PM
25,9827852,7/26/1996,M,OTH,ADI,NIZA,SC,NL20000026,ADI,NIELIT ADI,01-12-2020,2,2 PM
26,9827873,6/15/1993,M,GRAD,ADI,NIZA,SC,NL20000027,ADI,NIELIT ADI,01-12-2020,2,2 PM
27,9828001,5/14/1994,M,XII,ADI,NIZA,GEN,NL20000028,ADI,NIELIT ADI,01-12-2020,2,2 PM
28,9834309,09-01-1988,M,GRAD,ADI,NIZA,OBC,NL20000029,ADI,NIELIT ADI,01-12-2020,2,2 PM
29,9833619,5/18/1996,M,GRAD,ADI,NIZA,OBC,NL20000030,ADI,NIELIT ADI,01-12-2020,2,2 PM
30,9833113,1/17/1989,M,GRAD,ADI,NIZA,GEN,NL20000031,ADI,NIELIT ADI,01-12-2020,2,2 PM
31,9834266,5/15/1991,M,GRAD,ADI,NIZA,OBC,NL20000032,ADI,NIELIT ADI,01-12-2020,2,2 PM
32,9838389,08-07-1998,F,X,ADI,NIZA,SC,NL20000033,ADI,NIELIT ADI,01-12-2020,2,2 PM
33,9815735,01-01-2004,F,XII,ADI,URHYD,ST,NL20000034,ADI,NIELIT ADI,01-12-2020,2,2 PM
34,9838381,06-10-2000,F,XII,ADI,NIZA,ST,NL20000035,ADI,NIELIT ADI,01-12-2020,2,2 PM
35,9834302,06-10-1995,M,GRAD,ADI,NIZA,OBC,NL20000036,ADI,NIELIT ADI,01-12-2020,2,2 PM
36,9834306,8/28/1996,M,GRAD,ADI,NIZA,OBC,NL20000037,ADI,NIELIT ADI,01-12-2020,2,2 PM
37,9833615,7/13/1992,M,GRAD,ADI,NIZA,OBC,NL20000038,ADI,NIELIT ADI,01-12-2020,2,2 PM
38,9832391,2/18/1992,M,GRAD,ADI,NIZA,OBC,NL20000039,ADI,NIELIT ADI,01-12-2020,2,2 PM
39,9832382,1/27/1994,M,XII,ADI,NIZA,OBC,NL20000040,ADI,NIELIT ADI,01-12-2020,2,2 PM
40,9832224,6/15/1993,M,GRAD,ADI,NIZA,OBC,NL20000041,ADI,NIELIT ADI,02-12-2020,1,9 AM
41,9815977,8/13/2006,M,UX,ADI,URHYD,GEN,NL20000042,ADI,NIELIT ADI,02-12-2020,1,9 AM
42,9834321,04-05-2003,M,XII,ADI,NIZA,OBC,NL20000043,ADI,NIELIT ADI,02-12-2020,1,9 AM
43,9815983,08-07-1999,M,X,ADI,URHYD,GEN,NL20000044,ADI,NIELIT ADI,02-12-2020,1,9 AM
44,9816061,01-01-1998,M,X,ADI,URHYD,GEN,NL20000045,ADI,NIELIT ADI,02-12-2020,1,9 AM
45,9815991,05-06-2002,M,XII,ADI,URHYD,ST,NL20000046,ADI,NIELIT ADI,02-12-2020,1,9 AM
46,9834323,09-08-1998,M,GRAD,ADI,NIZA,OBC,NL20000047,ADI,NIELIT ADI,02-12-2020,1,9 AM
47,9834352,2/14/1994,M,XII,ADI,NIZA,OBC,NL20000048,ADI,NIELIT ADI,02-12-2020,1,9 AM
48,9815966,8/21/2004,M,UX,ADI,URHYD,OBC,NL20000049,ADI,NIELIT ADI,02-12-2020,1,9 AM
49,9812573,05-08-2004,M,X,ADI,NIZA,OBC,NL20000050,ADI,NIELIT ADI,02-12-2020,1,9 AM

In [22]:
data.tail(50)

,Application_ID,D_O_B,SEX,H_Qual,TH_CENT_CH,SEC_TH_CEN,CATEGORY,Rollno,cent_allot,cent_add,examDate,batch,rep_time
3302,9763946,01-01-1986,F,UX,EGOD,WGOD,GEN,NL2000003303,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3303,9763937,01-01-1985,F,XII,EGOD,WGOD,GEN,NL2000003304,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3304,9763924,6/15/2003,F,X,EGOD,WGOD,GEN,NL2000003305,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3305,9762790,09-11-2003,M,X,EGOD,WGOD,GEN,NL2000003306,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3306,9762798,01-01-1992,F,GRAD,EGOD,WGOD,OBC,NL2000003307,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3307,9762809,01-01-1992,F,XII,EGOD,WGOD,OBC,NL2000003308,WGOD,NIELIT WGOD,01-12-2020,2,2 PM
3308,9762815,2/25/1996,F,OTH,EGOD,WGOD,SC,NL2000003309,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3309,9764011,7/19/2004,F,X,EGOD,WGOD,GEN,NL2000003310,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3310,9763917,08-08-2004,F,X,EGOD,WGOD,GEN,NL2000003311,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3311,9762840,3/16/1998,M,XII,EGOD,WGOD,OBC,NL2000003312,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3312,9762848,12/14/2000,F,XII,EGOD,WGOD,GEN,NL2000003313,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3313,9762902,2/15/1993,F,GRAD,EGOD,WGOD,SC,NL2000003314,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3314,9762924,01-01-1995,F,XII,EGOD,WGOD,SC,NL2000003315,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3315,9762931,8/28/1998,M,XII,EGOD,WGOD,OBC,NL2000003316,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3316,9762949,6/21/1999,F,GRAD,EGOD,WGOD,GEN,NL2000003317,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3317,9762958,1/15/1996,F,GRAD,EGOD,WGOD,GEN,NL2000003318,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3318,9762997,8/15/1986,F,XII,EGOD,WGOD,GEN,NL2000003319,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3319,9763012,01-01-2001,F,X,EGOD,WGOD,GEN,NL2000003320,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3320,9763023,11-08-2000,F,XII,EGOD,WGOD,GEN,NL2000003321,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3321,9763035,09-03-2000,F,XII,EGOD,WGOD,GEN,NL2000003322,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3322,9762829,05-12-1988,F,XII,EGOD,WGOD,ST,NL2000003323,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3323,9784352,01-01-1986,F,XII,EGOD,WGOD,GEN,NL2000003324,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3324,9764020,01-01-1991,M,X,EGOD,WGOD,SC,NL2000003325,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3325,9764137,6/16/2001,F,XII,EGOD,WGOD,GEN,NL2000003326,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3326,9739179,4/17/2002,F,X,EGOD,WGOD,OBC,NL2000003327,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3327,9739269,07-11-1988,F,X,EGOD,WGOD,GEN,NL2000003328,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3328,9739305,7/17/1995,F,XII,EGOD,WGOD,GEN,NL2000003329,WGOD,NIELIT WGOD,02-12-2020,1,9 AM
3329,9739379,06-10-1999,F,GRAD,EGOD,WGOD,OBC,NL2000003330,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3330,9739468,08-07-1989,F,XII,EGOD,WGOD,GEN,NL2000003331,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3331,9739552,11-08-2000,F,XII,EGOD,WGOD,OBC,NL2000003332,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3332,9763910,09-11-1988,M,UX,EGOD,WGOD,OBC,NL2000003333,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3333,9739704,06-10-1995,F,UX,EGOD,WGOD,GEN,NL2000003334,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3334,9739767,4/16/1998,F,GRAD,EGOD,WGOD,GEN,NL2000003335,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3335,9739835,1/18/2000,M,XII,EGOD,WGOD,GEN,NL2000003336,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3336,9739881,2/20/2000,F,XII,EGOD,WGOD,OBC,NL2000003337,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3337,9764028,01-01-1983,M,X,EGOD,WGOD,GEN,NL2000003338,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3338,9739984,8/23/2001,F,XII,EGOD,WGOD,GEN,NL2000003339,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3339,9740692,01-01-1991,M,UX,EGOD,WGOD,GEN,NL2000003340,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3340,9740807,06-05-1994,F,GRAD,EGOD,WGOD,OBC,NL2000003341,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3341,9740982,06-04-2001,M,XII,EGOD,WGOD,OBC,NL2000003342,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3342,9741072,06-07-1995,F,GRAD,EGOD,WGOD,OBC,NL2000003343,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3343,9741167,01-01-1998,F,XII,EGOD,WGOD,OBC,NL2000003344,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3344,9741322,01-01-1986,F,GRAD,EGOD,WGOD,OBC,NL2000003345,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3345,9741467,1/16/1999,F,GRAD,EGOD,WGOD,OBC,NL2000003346,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3346,9741578,01-01-1988,F,UX,EGOD,WGOD,OBC,NL2000003347,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3347,9741716,4/17/1999,F,GRAD,EGOD,WGOD,GEN,NL2000003348,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3348,9764148,01-01-1998,F,X,EGOD,WGOD,GEN,NL2000003349,WGOD,NIELIT WGOD,02-12-2020,2,2 PM
3349,9764143,1/28/1989,F,GRAD,EGOD,WGOD,GEN,NL2000003350,WGOD,NIELIT WGOD,03-12-2020,1,9 AM
3350,9740071,6/15/1991,F,XII,EGOD,WGOD,GEN,NL2000003351,WGOD,NIELIT WGOD,03-12-2020,1,9 AM
3351,9739614,07-08-1993,F,XII,EGOD,WGOD,GEN,NL2000003352,WGOD,NIELIT WGOD,03-12-2020,1,9 AM

### SAJITHA SHARON